<style>
    #header a {
        color: #666;
        text-decoration: none;
    }
    #header a:hover {
        color: red;
        text-decoration: none;
    }
</style>

<div id="header" style="height: 35px;background: #f5f5f5;font-size: 12px;">
    <ul style="float: left;list-style: none;display: block;margin-left: 20px;">
        <li style="float: left;display: list-item;width:80px;"><a style="display:block;text-align:center;height:30px;line-height: 30px;" href="#">Isoft首页 |</a></li>
        <li style="float: left;display: list-item;width:80px;"><a style="display:block;text-align:center;height:30px;line-height: 30px;" href="#">我的领地 |</a></li>
        <li style="float: left;display: list-item;width:80px;"><a style="display:block;text-align:center;height:30px;line-height: 30px;" href="#">我的收藏 |</a></li>
        <li style="float: left;display: list-item;width:80px;"><a style="display:block;text-align:center;height:30px;line-height: 30px;" href="#">帮助系统</a></li>
    </ul>
    <ul style="float: right;list-style: none;display: block;margin-right: 20px;">
        <li style="float: left;display: list-item;width:100px;"><a style="display:block;text-align:center;height:30px;line-height: 30px;color: red;" href="#">您好，请登录 |</a></li>
        <li style="float: left;display: list-item;width:70px;"><a style="display:block;text-align:center;height:30px;line-height: 30px;" href="#">注册 |</a></li>
        <li style="float: left;display: list-item;width:70px;"><a style="display:block;text-align:center;height:30px;line-height: 30px;" href="#">客户服务 |</a></li>
        <li style="float: left;display: list-item;width:70px;"><a style="display:block;text-align:center;height:30px;line-height: 30px;" href="#">网站导航 |</a></li>
        <li style="float: left;display: list-item;width:70px;"><a style="display:block;text-align:center;height:30px;line-height: 30px;" href="#">手机Isoft</a></li>
    </ul>
</div>